/* 여백 초기화 */
* {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #2698cd;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
  font-family: 'Nanum Gothic', 'AppleSDGothicNeo-Rgular', 'Malgum Gothic',
    '맑은 고딕', dotum, '돋움', sans-serif;
  color: #222;
  font-size: 13px;
  line-height: 1.5;
}
